@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100svh;
  font-family: Open Sans;
  position: relative;
}

::-webkit-scrollbar {
  width: 0;
}

::selection {
  background: #0dd70d;
  color: white;
}

a {
  text-decoration: none;
}

img::selection,
svg::selection,
iframe::selection {
  background: transparent;
}

button,
a,
li {
  font-family: Open Sans;
}
